/* @font-face {
  font-family: BASE;
  src: url("ClearSans-Bold.woff2");
  font-weight: bold;
}

@font-face {
  font-family: BASE;
  src: url("ClearSans-Regular.woff2");
} */

* {
  user-select: none;
  font-family: 'HarmonyOS Sans SC',sans-serif;
  color: #000;
}

html,
body {
  padding: 0;
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  background: transparent;
}
