@keyframes fadeFromRight {
  from {
    opacity: 0;
    transform: translateX(100vw);
  }
}
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
}
html {
  background: url("../img/background.jpg") no-repeat;
  background-size:100% 100%;
  background-color: #000;
}
body {
  transition: opacity 0.15s;
}
#body {
  position: fixed;
  top: 15px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  width: 600px;
  height: 320px;
  margin: auto;
  border-radius: 8px;
  padding: 20px;
  box-shadow: #000a 0 30px 40px 5px;
  animation: fadeFromRight 1s cubic-bezier(0, 1, 0, 1);
  background: #fff;
  -webkit-app-region: drag;
}

#display {
  position: absolute;
  top: 50px;
  left: 30px;
  right: 30px;
  height: 130px;
  overflow: hidden;
}

#display:before,
#display:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 30px;
  z-index: 5;
}

#display:before {
  top: 0;
  background: linear-gradient(#fff, #fff0);
}
#display:after {
  bottom: 0;
  background: linear-gradient(#fff0, #fff);
}
#num {
  position: absolute;
  top: 0;
  width: 100%;
  transition: top 1.5s;
}
#display span {
  display: block;
  font-size: 120px;
  width: 100%;
  text-align: center;
  line-height: 130px;
  height: 130px;
  text-shadow: #0005 0 5px 10px;
  margin: 0;
  transition: color 0.2s;
}

#name {
  position: absolute;
  left: 0;
  right: 0;
  top: 210px;
  bottom: 60px;
  line-height: 100%;
  font-size: 50px;
  text-align: center;
  text-shadow: #0008 0 5px 10px;
  animation: fadeUp 0.8s cubic-bezier(0, 1, 0, 1);
  transition: opacity 0.3s, color 0.2s;
}

.waves {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  z-index: 1;
}
.waves .waves-animation {
  position: absolute;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  opacity: 0;
  background: rgba(255, 255, 255, 0.3);
  transition: all 0.7s ease-out;
  transition-property: transform, opacity;
  transform: scale(0);
  pointer-events: none;
}

button {
  background: #C377A5;
  color: #fff;
  border: none;
  position: absolute;
  bottom: 0;
  left: 0px;
  width: 100%;
  height: 50px;
  display: block;
  font-size: 20px;
  outline: none !important;
  border-radius: 0;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  -webkit-app-region: no-drag;
  transition: filter 0.3s, color 0.2s;
}

button:disabled {
  filter: brightness(80%);
}

button:before {
  content: "";
  position: absolute;
  bottom: 100%;
  height: 20px;
  width: 100%;
  left: 0;
  background: linear-gradient(#0000, #0003);
}

.c-ripple {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
  border-radius: 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.c-ripple__circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: #0003;
}
.c-ripple.is-active .c-ripple__circle {
  animation: a-ripple 0.8s ease-in-out;
}

@keyframes a-ripple {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  50% {
    width: 200%;
    padding-bottom: 200%;
  }
  100% {
    opacity: 0;
    width: 200%;
    padding-bottom: 200%;
  }
}

#close {
  display:none !important;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 40px;
  height: 40px;
  -webkit-app-region: no-drag;
}

#close:active {
  filter: brightness(50%);
}

#close:before,
#close:after {
  content: "";
  display: block;
  position: absolute;
  background: #c00;
  width: 3px;
  height: 18px;
  left: 18px;
  top: 11px;
}
#close:before {
  transform: rotate(45deg);
}
#close:after {
  transform: rotate(-45deg);
}

#bottom {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 15px;
  text-align: center;
  color: #fff;
  text-shadow: #000 0 3px 10px;
  font-size: 18px;
}
