@font-face {
  font-family: SegoeIcons;
  src: url("./SegoeIcons.ttf");
}

.icon {
  font-family: SegoeIcons !important;
  font-style: normal !important;
  color: inherit;
}

:root {
  --green: #29e88b;
  --red: #ff8f6b;
  --yellow: #fbc015;
  --blue: #24adf3;
  --greenA: #29e88b50;
  --redA: #ff8f6b50;
  --yellowA: #fbc01550;
  --blueA: #24adf350;
  --greenAA: #29e88b15;
  --redAA: #ff8f6b15;
  --yellowAA: #fbc01515;
  --blueAA: #24adf315;
}

:root,
button {
  font-family: MiSans;
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: #fff3;
}

* {
  color: white;
}

html,
#body {
  background: #131313;
}
body {
  margin: 0;
}
#body {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
h1 {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 80px;
  line-height: 80px;
  margin: 0 30px;
  vertical-align: middle;

  font-size: 30px;
  font-weight: 500;
}

#personIn,
#personOut,
#delayTime {
  display: inline-block;
  width: 80px;
  text-align: right;
  font-size: 20px;
  margin-left: 10px;
  font-family: monospace;
}

#personIn::after,
#personOut::after,
#delayTime::after {
  color: white;
  font-weight: normal;
  font-size: 15px;
  margin-left: 3px;
}

#personIn {
  color: var(--green);
}

#personIn::after {
  content: "在场";
}

#personOut {
  color: var(--red);
}

#personOut::after {
  content: "缺席";
}

#delayTime {
  color: var(--blue);
}

#delayTime.slow{
  color:var(--yellow)
}

@keyframes shine {
  0%,100%{opacity: 0;transition: opacity 0.5s;}
  50%{opacity: 1;transition: opacity 0.5s;}
}

#delayTime.lost{
  animation:shine 1s infinite;
}

#delayTime::after {
  content: "ms";
}

#fullscreen {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto 0;
  width: 40px;
  height: 40px;
  line-height: 40px;

  font-size: 18px;
  background: #333;
  border: none;
  border-radius: 5px;
}

#main {
  position: fixed;
  top: 80px;
  right: 0;
  bottom: 0;
  left: 0;
}
.frame {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.welcomeBtn {
  display: inline-block;
  height: 200px;
  width: 300px;
  margin: 20px;

  font-size: 20px;
  background: var(--bkgColor);
  border: 3px solid var(--bdrColor);
  border-radius: 10px;
}

.welcomeBtn .icon {
  display: block;
  margin-bottom: 20px;
  font-size: 50px;
}

.welcomeBtn:hover {
  color: var(--btnColor);
  border-color: var(--btnColor);
}

.welcomeBtn:hover:active {
  filter: brightness(0.5);
  border-color: var(--bdrColor);
}

#upload {
  --btnColor: var(--green);
  --bdrColor: var(--greenA);
  --bkgColor: var(--greenAA);
}

#uploadPopup::before {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #0008;
}

#uploadPopup {
  position: fixed;
  width: 800px;
  height: 500px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: #444;
  border-radius: 10px;
}

#uploadPopup #uploadTextbox {
  display: block;
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 80px;
  padding: 15px;
  background: none;
  border: transparent 3px solid;
  outline: none;
  resize: none;
  font-size: 18px;
  border-radius: 10px;
}

#uploadPopup #uploadTextbox:focus {
  border-color: #444;
}

.uploadBtns {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 80px;
}
.uploadBtn {
  margin: 20px 10px;
  padding: 0 20px;
  height: 40px;
  vertical-align: middle;
  border: 2px solid;
  font-size: 16px;
  border-radius: 5px;
  text-shadow: #0008 0 0 10px;
}
.uploadBtn .icon {
  position: relative;
  top: 3px;
}

#uploadConfirm {
  background: var(--greenAA);
  border-color: var(--greenA);
}

#uploadConfirm:hover {
  background: var(--greenA);
  border-color: var(--green);
}

#uploadCover {
  background: var(--redAA);
  border-color: var(--redA);
}
#uploadCover:hover {
  background: var(--redA);
  border-color: var(--red);
}

#uploadCancel {
  background: var(--blueAA);
  border-color: var(--blueA);
}

#uploadCancel:hover {
  background: var(--blueA);
  border-color: var(--blue);
}

.uploadBtn:hover:active {
  filter: brightness(0.5);
}

#useReady {
  --btnColor: var(--blue);
  --bdrColor: var(--blueA);
  --bkgColor: var(--blueAA);
}

#work {
  display: flex;
}

#result {
  flex-grow: 1;
  padding: 0 15px 15px 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  overflow: scroll;
}

.personDiv {
  margin: 10px;
  padding: 15px 15px 15px 60px;
  position: relative;
  flex-grow: 1;

  border-radius: 10px;
  background: #1f1f1f;
  border: #444 3px solid;

  transition: border 0.15s;
}

.personDiv.in {
  border-color: var(--greenA);
}

.personDiv.out {
  border-color: var(--redA);
}

.personDiv .logo {
  position: absolute;
  left: 15px;

  font-size: 30px;
}

.personDiv .go {
  display: block;
  position: absolute;
  left: 15px;
  bottom: 15px;
  width: 30px;

  font-size: 20px;
  transition: color 0.15s;
}

.personDiv .go.in i {
  color: var(--green);
}

.personDiv .go.out i {
  color: var(--red);
}

.personDiv .go::before,
.personDiv .go::after {
  content: "";
  position: absolute;

  height: 30px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  transform: rotate(53deg) translate(-3px, -1px);
  transition: background 0.15s;
}

.personDiv .go::before {
  width: 6px;
  background: #1f1f1f;
}

.personDiv .go::after {
  width: 2px;
  background: var(--red);
  border-radius: 2px;
}

.personDiv .go.in::before,
.personDiv .go.in::after {
  background: transparent;
}

.personDiv .personInfo {
  display: block;
  text-align: left;
  color: #fffa;
  font-size: 16px;
}

.personInfo.name {
  font-size: 22px;
  font-weight: 500;
  color: white;
  line-height: 30px;
}

.personDiv .unionInfo {
  position: absolute;
  top: 15px;
  right: 15px;
  display: inline-flex;
  flex-direction: column;
  height: 30px;
  width: 50px;
  text-align: right;
  font-weight: normal;
}

.personDiv .unionInfo::before {
  content: "\F126";
  position: absolute;
  left: -10px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  font-family: SegoeIcons;
  font-size: 8px;
  height: 8px;
  line-height: 8px;
}

.personDiv .unionInfo.out::before {
  color: var(--red);
}

.personDiv .unionInfo.in::before {
  content: "\F127";
  color: var(--green);
}

.personDiv .unionInfo .unionName {
  font-size: 15px;
  /* line-height: 15px; */
  line-height: 30px;
}

/* .personDiv .unionInfo .unionId {
  font-family: monospace;
  font-size: 13px;
  line-height: 18px;
  color:#fffa
} */

.personInfo mark {
  padding: 0 1px;
  margin: 0 -1px;
  background: #ff05;
  box-shadow: #ff08 0 0 0 2px;
  color: white;
  font-weight: bold;
  border-radius: 3px;
}

.personInfo::before {
  display: inline-block;
  position: relative;
  font-family: SegoeIcons;
  margin-right: 4px;
  top: 2px;
}

.personInfo.pinyin {
  position: relative;
  margin-bottom: 3px;
  font-size: 14px;
  color: #eee;
}

.personInfo.pinyin .gender {
  font-weight: bold;
}

.personInfo.school::before {
  content: "\E821";
}

.personInfo.phone::before {
  content: "\E717";
}
.personInfo.id::before {
  content: "\E963";
}
.personInfo.order::before {
  content: "\EC5A";
}

.personInfo.id,
.personInfo.phone,
.personInfo.order {
  font-family: monospace;
}

#nores {
  width: 200px;
  color: #fff8;
  font-size: 30px;
  margin-top: 100px;
}

#nores .icon {
  display: block;
  margin-bottom: 10px;
  font-size: 80px;
}

#numpad {
  flex-grow: 0;
  width: 340px;
  display: flex;
  flex-direction: column;
}

#current {
  display: block;
  height: 80px;
  margin: 10px 20px 20px 20px;
  width: 300px;
  line-height: 80px;
  font-size: 50px;
  font-family: monospace;
  letter-spacing: 5px;
  border-radius: 10px;
  background: #1f1f1f;
  border: #444 3px solid;
}

#numkeys {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  padding: 0 10px;
}

.keys {
  height: 80px;
  width: 80px;
  margin: 10px;
  margin-bottom: 20px;

  border-radius: 10px;
  background: #333;
  font-size: 25px;
  border: none;
}
